<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    <link rel="stylesheet" href="/assets/style.css">

    <title>{% block title %}{% endblock %} - Islabre's Personal Website</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            |
            <a href="#menu">Menu &downarrow;</a>
        </nav>
    </header>

    <hr>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <hr>

    <footer>
        <h2>Menu navigation</h2>
        <ul id="menu">
            <li><a href="/">Home</a></li>
        </ul>
    </footer>
</body>
</html>