body {
    font: 100%/1.5 sans-serif;
    margin: 0 auto;
    max-width: 45em;
    padding: 1em;
}

pre, :not(pre) > code {
    border: 1px solid;
}

:not(pre) > code, pre > code {
    font-family: monospace, monospace;
}

pre {
    padding: 0.5em;
    overflow: auto;
}

:not(pre) > code {
    padding: 0.25em;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: solid;
    padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f1f;
    }
}